.logo-page-header {
  background-color: black;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column
}

.page-name {
  color: white
}

.black-chocobo {
  margin-top: 15%;
  height: 25em;
}