.logo-page-header {
  background-color: black;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column
}

.page-name {
  color: white;
  font-family: 'Righteous', 'sans-serif';
  size: 2em
}

.black-chocobo {
  margin-top: 10%;
  height: 25em;
}